{% extends 'base.html' %}
{% include 'header.html' %}

{% block title %} {% endblock %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="col md-12">
                <div class="jumbotron p-3">
                    <h2>Résultats trouvés</h2>


                    <table class="table table-hover table-dark">
                        <tr>
                            <th>Titre</th>
                            <th>Année</th>
                            <th>Nom P</th>
                            <th>Prénom P</th>
                            <th>Actions</th>
                        </tr>

                        {% for datas in data %}

                            {% if datas %}

                                <tr>
                                    <td>{{ datas['titre'] }}</td>
                                    <td>{{ datas['annee'] }}</td>
                                    <td>{{ datas['realisateur']['nom'] }}</td>
                                    <td>{{ datas['realisateur']['prenom'] }}</td>
                                
                                    <td>
                                        <a href="" class="btn btn-warning btn-xs">Edit</a>
                                        <a href="" class="btn btn-danger btn-xs"
                                        onclick="return confirm('Are you sure to delete?')">Delete</a>
                                    </td>
                                </tr>
                            
                            {% endif %}

                        {% endfor %}

                    </table>
                </div>
            </div>
        </div>
    </div>

{% endblock %}