{% extends 'base.html' %}
{% include 'header.html' %}

{% block title %} {% endblock %}



{% block body %}

{% with messages = get_flashed_messages() %}

{% if messages %}

    {% for message in messages %}

        <div class="alert alert-success alert-dismissable" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="close">
                <span aria-hidden="true">x</span>
            </button>

            {{ message }}
        </div>

    {% endfor %}

{% endif %}

{% endwith %}


    <div class="container" style="padding: 30px;width: 50%;">
        <div class="row">
            <div class="col md-12">
                <div class="jumbotron p-3">
                    <div class="ion-align-items-center">
                        <form method = "POST" action="/addmovie/{{selected_videotheque}}">
                            <div class="form-group col-md-10">
                              <label for="exampleInputEmail1">Titre</label>
                              <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="titre">
                            </div>
                            <div class="form-group col-md-10">
                              <label for="exampleInputPassword1">Année</label>
                              <input type="number" class="form-control" id="exampleInputPassword1" name="annee">
                            </div>
                            <div class="form-group col-md-10">
                                <label for="exampleInputPassword1">Nom réalisateur</label>
                                <input type="text" class="form-control" id="exampleInputPassword1" name="nomR">
                            </div>
                            <div class="form-group col-md-10">
                                <label for="exampleInputPassword1">Prénom réalisateur</label>
                                <input type="text" class="form-control" id="exampleInputPassword1" name="prenomR">
                            </div>
                            <label for="actors">Acteurs :</label>
                            <div id="actors_container">
                                <div>
                                    <label for="actor_name">Nom :</label>
                                    <input type="text" name="actor_name" required>
                                    <label for="actor_first_name">Prénom :</label>
                                    <input type="text" name="actor_first_name" required>
                                    <button type="button" id="add_actor_button">+</button>
                                </div>
                            </div>
                            <button class="btn btn-primary" type="submit">Submit</button>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    
    </div>


{% endblock %}

<script src="https://code.jquery.com/jquery-3.6.2.js"></script>

<script>

const addActorButton = document.getElementById("add_actor_button");
const actorsContainer = document.getElementById("actors_container");

addActorButton.addEventListener("click", () => {
  const actorNameInput = document.createElement("input");
  actorNameInput.type = "text";
  actorNameInput.name = "actor_name";
  actorNameInput.required = true;

  const actorFirstNameInput = document.createElement("input");
  actorFirstNameInput.type = "text";
  actorFirstNameInput.name = "actor_first_name";
  actorFirstNameInput.required = true;

  const removeActorButton = document.createElement("button");
  removeActorButton.type = "button";
  removeActorButton.textContent = "-";

  const actorContainer = document.createElement("div");
  actorContainer.appendChild(actorNameInput);
  actorContainer.appendChild(actorFirstNameInput);
  actorContainer.appendChild(removeActorButton);

  actorsContainer.appendChild(actorContainer);

  removeActorButton.addEventListener("click", () => {
    actorContainer.remove();
  });
});

</script>

